html {
    font-family: sans-serif;
}

.dashboard {
    border-style: solid;
    border-color: black;
    border-radius: 12px;
    height: 500px;
	overflow-y: auto;
}

.email {
	padding-left: 5px;
	padding-right: 5px;
	font-family: Courier;
	font-size: 1.2em;
}

.pathogenWrapper {
    border-style: solid;
    border-color: black;
    border-radius: 12px;
    overflow-x: scroll;
}

.search-table{
    table-layout: fixed;
}

.testOption {
	width: 110px;
	height: 110px;
	margin: 5px;
	line-height: 20px;
	vertical-align: middle;
}

th {
    border-style: double;
}

li {
    margin-left: 180px;
    margin-bottom: 5px;
}

.pathogen {
    min-width: 500px;
    border-style: double;
}

.pathImg {
    float: left;
}

.bottomButton {
	width: 200px;
	height: 70px;
	margin: 10px;
	font-size: 1.2em;
}

.vertical {
    overflow-y: auto;
}

.horizontal {
    table-layout: fixed;
}

.title {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    border-bottom-style: solid;
}

.hidden {
    display: none;
}

#controlButtons {
	text-align: center;
	background-color: LightGray;
}

#testInfo {
	text-align: center;
	font-size: 1.1em;
}

#testImg {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 600px;
	height: auto;
}

#testResult {
	text-align: center;
	font-size: 1em;
}

#progressTests {
    border-style: solid;
    border-color: black;
    border-radius: 12px;
	text-align: center;
    height: 200px;
}

#completeTests {
    border-style: solid;
    border-color: black;
    border-radius: 12px;
    height: 293px;
}

#notes {
	min-height: 500px;
	min-width: 100%;
	font-size: 1.2em;
	border-style: solid;
    border-width: 2px;
	background-color: SeaShell;
	resize: none;
}

#pathList {
    border-style: solid;
    border-color: black;
    border-radius: 12px;
    height: 150px;
}

#pathListLabel {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    border-bottom-style: solid;
}

#mailAlert {
	text-align: center;
	font-family: Arial;
	font-size: 1.5em;
	color: white;
}

#mailImg {
	display: block;
    margin-left: auto;
    margin-right: auto;
	opacity: 0.0;
}

#mailButton {
	position: relative;
	width: 10%;
	left: 45%;
}

#help {
	position: absolute;
	top: 25%;
	left: 25%;
	width: 50%;
	height: 50%;
	border-style: solid;
	border-color: black;
	border-width: 5px;
	padding: 10px;
	background-color: lavenderblush;
	overflow-y: auto;
}

#closeHelp {
	width: 100px;
	height: 40px;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}



