html {
    font-family: sans-serif;
}

.dashboard {
    border-style: solid;
    border-color: black;
    border-radius: 12px;
    height: 600px;
}

.email {
	padding-left: 5px;
	padding-right: 5px;
	font-family: Courier;
	font-size: 1.2em;
}

.pathogenWrapper {
    border-style: solid;
    border-color: black;
    border-radius: 12px;
    overflow-x: scroll;
}

.search-table{
    table-layout: fixed;
}

.testOption {
	width: 150px;
	height: 150px;
	margin: 5px;
	font-size: 1.1em;
	line-height: 25px;
}

th {
    border-style: double;
}

li {
    margin-left: 180px;
    margin-bottom: 5px;
}

.pathogen {
    min-width: 500px;
    border-style: double;
}

.pathImg {
    float: left;
}

.bottomButton {
	width: 200px;
	height: 50px;
	margin: 10px;
	font-size: 1.2em;
}

.vertical {
    overflow-y: auto;
	height: 600px;
}

.horizontal {
    table-layout: fixed;
}

.title {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    border-bottom-style: solid;
}

.hidden {
    display: none;
}

#testInfo {
	text-align: center;
	font-size: 1.1em;
}

#testImg {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 600px;
	height: auto;
}

#testResult {
	text-align: center;
	font-size: 1em;
}

#progressTests {
    border-style: solid;
    border-color: black;
    border-radius: 12px;
    height: 240px;
}

#completeTests {
    border-style: solid;
    border-color: black;
    border-radius: 12px;
    height: 353px;
}

#notes {
	min-height: 600px;
	min-width: 100%;
	font-size: 1.2em;
	border-style: solid;
    border-width: 2px;
	background-color: SeaShell;
	resize: none;
}

#pathList {
    border-style: solid;
    border-color: black;
    border-radius: 12px;
    height: 150px;
}

#pathListLabel {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    border-bottom-style: solid;
}

#mailAlert {
	text-align: center;
	font-family: Arial;
	font-size: 1.5em;
	color: white;
}

#mailImg {
	display: block;
    margin-left: auto;
    margin-right: auto;
	opacity: 0.0;
}

#mailButton {
	position: relative;
	width: 10%;
	left: 45%;
}



